<!doctype html>
<html lang="en" ng-app="CheckpointApp">
  <head>
    <meta charset="utf-8">
    <title>Checkpoint Game</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/rsvp/rsvp.min.js"></script>
    <script src="bower_components/geofire/dist/geofire.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/databaseDataFactory.js"></script>
    <script src="app/js/gameController.js"></script>
    <script src="app/js/locationController.js"></script>
    <script src="app/js/userController.js"></script>
    <script src="app/js/tabController.js"></script>

  </head>

  <body ng-controller="UserController as userCtrl">
    <div id="signed-in" ng-show="userCtrl.authData">
      <div id="tabs" ng-controller="tabCtrl as tabCtrl">
        <h3 id="title">Checkpoint Game<h3>
        <ul>
          <li ng-class = "{active:tabCtrl.isSelected('map')}">
            <a href ng-click = "tabCtrl.selectTab('map')">Map</a>
          </li>
          <li ng-class = "{active:tabCtrl.isSelected('players')}">
            <a href ng-click = "tabCtrl.selectTab('players')">Players</a>
          </li>
          <li ng-class = "{active:tabCtrl.isSelected('rules')}">
          </li>
          <li>
            <a href ng-click="userCtrl.userLogout()">Sign out</a>
          </li>
        </ul>
        <div>
          <div id = "map" ng-show = "tabCtrl.isSelected('map')" >
            <div ng-controller="GameController as gameCtrl">
              <div ng-hide="gameCtrl.nextUserCheckpoint">
                <button ng-click="gameCtrl.startGame()">Start Game</button>
              </div>
              <div ng-show="gameCtrl.nextUserCheckpoint">
                <ul class="list-group">
                  <li ng-repeat="checkpoint in gameCtrl.userCheckpoints">
                    <button class="checkpoint" id="checkpoint-{{checkpoint.id}}" style="background-color:{{checkpoint.color}};top:{{checkpoint.mapPositionTop}}%;left:{{checkpoint.mapPositionLeft}}%;position:absolute;">{{checkpoint.name}}</button>
                  </li>
                </ul>
              <div ng-controller="LocationController as locationCtrl">
                <div>
                  Current location:<br>
                  Latitude {{locationCtrl.latitude}}<br>
                  Longitude {{locationCtrl.longitude}}
                </div>
                <button id="check-in" ng-click="locationCtrl.checkIn(gameCtrl.nextUserCheckpoint)">Check In</button>
              </div>
            </div>
            </div>
          </div>
            <div id = "players" ng-show = "tabCtrl.isSelected('players')">
              <ul>
                <div ng-repeat ="player in userCtrl.allPlayers">
                  <li>
                    {{player.name}}<span ng-repeat="checkpoint in player.checkpoints"><button style="background-color:{{checkpoint.color}};">{{checkpoint.id}}</button></span>
                  </li>
                  <br>
                </div>
              </ul>
            </div>
            <div id = "rules" ng-show = "tabCtrl.isSelected('rules')">
              RULES
            </div>
        </div>
      </div>
    </div>

    <div id="signed-out" ng-hide="userCtrl.authData">
      <div>
        <form>
          <input type="text" ng-model="userCtrl.username" placeholder="username" required/>
          <input type="text" ng-model="userCtrl.newEmail" placeholder="email" required/>
          <input type="password" ng-model="userCtrl.newPassword" placeholder="password" required/>
          <input type="password" ng-model="userCtrl.confirmPassword" placeholder="confirm password" required/>
          <button ng-click="userCtrl.userSignup()">Sign up</button>
        </form>
      </div>
      <div>
        <form>
          <input type="text" ng-model="userCtrl.email" placeholder="email"/>
          <input type="password" ng-model="userCtrl.password" placeholder="password"/>
          <button ng-click="userCtrl.userLogin()">Sign in</button>
        </form>
      </div>
    </div>
  </body>
</html>
