<!doctype html>
<html lang="en" ng-app="CheckpointApp">
  <head>
    <meta charset="utf-8">
    <title>Checkpoint Game</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/rsvp/rsvp.min.js"></script>
    <script src="bower_components/geofire/dist/geofire.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/databaseDataFactory.js"></script>
    <script src="app/js/userLocationFactory.js"></script>
    <script src="app/js/gameController.js"></script>
    <script src="app/js/userController.js"></script>
    <script src="app/js/tabController.js"></script>

  </head>

  <body ng-controller="UserController as userCtrl">

    <div id="signed-in" ng-show="userCtrl.authData">
      <div id="tabs" ng-controller="tabCtrl as tabCtrl">
        <h3 id="title">Checkpoint Game</h3>
        <h3 id="hello">Good luck {{userCtrl.username}}!<h3>
        <ul>
          <li class = "indiv_tab" ng-class = "{active:tabCtrl.isSelected('map')}">
            <a href ng-click = "tabCtrl.selectTab('map')">Map</a>
          </li>
          <li class = "indiv_tab" ng-class = "{active:tabCtrl.isSelected('players')}">
            <a href ng-click = "tabCtrl.selectTab('players')">Players</a>
          </li>
          <li class = "indiv_tab" ng-class = "{active:tabCtrl.isSelected('rules')}">
            <a href ng-click = "tabCtrl.selectTab('rules')">Rules</a>
          </li>
          <li class = "indiv_tab">
            <a href ng-click="userCtrl.userLogout()">Sign out</a>
          </li>
        </ul>
        <div ng-controller="GameController as gameCtrl">
          <div id = "map" ng-show = "tabCtrl.isSelected('map')" >
              <div id = 'legend'>
                <div style = 'background-color: #FFFFFF'>Unlocked</div>
                <div style = 'background-color: #26C2ED'>FEEEZING</div>
                <div style = 'background-color: #447BF2'>VERY COLD</div>
                <div style = 'background-color: #A68AED'>COLD</div>
                <div style = 'background-color: #F0B6D8'>QUITE WARM</div>
                <div style = 'background-color: #F257A5'>VERY WARM</div>
                <div style = 'background-color: #F50733'>HOT</div>
                <div style = 'background-color: #26ED33'>YOU ARE THERE!</div>
              </div>
            <div>
              <div ng-show="!gameCtrl.nextCheckpoint || gameCtrl.gameComplete">
                <button ng-click="gameCtrl.startGame()">Start New Game</button>
              </div>
              <div ng-show="gameCtrl.userCheckpoints">
                <span ng-repeat="checkpoint in gameCtrl.userCheckpoints">
                  <button class="checkpoint" id="checkpoint-{{checkpoint.id}}" style="background-color:{{checkpoint.color}};top:{{checkpoint.mapPositionTop}}%;left:{{checkpoint.mapPositionLeft}}%;position:absolute;">{{$index + 1}}</button>
                </span>

                <div>
                  Clue: {{gameCtrl.nextCheckpoint.clue}}
                </div>

                <div>
                  <button ng-hide="gameCtrl.runningCheckIn || gameCtrl.gameComplete" id="check-in" ng-click="gameCtrl.checkIn()">Check In</button>


                  <div ng-show="gameCtrl.gameComplete">
                  Congratulations! You've found all the checkpoints!
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id = "players" ng-show = "tabCtrl.isSelected('players')">
            <ul>
              <div ng-repeat ="player in gameCtrl.allPlayers">
                <li>
                  {{player.name}}<span ng-repeat="checkpoint in player.checkpoints"><button style="background-color:{{checkpoint.color}};">{{checkpoint.id}}</button></span>
                </li>
                <br>
              </div>
            </ul>
          </div>
          <div id = "rules" ng-show = "tabCtrl.isSelected('rules')">
            RULES
          </div>
        </div>

      </div>
    </div>

    <div id="signed-out" ng-hide="userCtrl.authData">
      <div id="title_wrapper"
        <span class="title1">Hot,</span><span class="title2"> Hot, </span><span class="title3">Cold</span>
      </div>
      <div id="login_wrapper">
        <div>
          <form>
            <div>
              <input class="input-form" type="text" ng-model="userCtrl.username" placeholder="Username" required/><br>
              <input class="input-form" type="text" ng-model="userCtrl.newEmail" placeholder="Email" required/><br>
              <input class="input-form" type="password" ng-model="userCtrl.newPassword" placeholder="Password" required/><br>
              <input class="input-form" type="password" ng-model="userCtrl.confirmPassword" placeholder="Confirm Password" required/>
            </div>
            <button class="sign-up-button"ng-click="userCtrl.userSignup()">Sign up</button>
          </form>
        </div>
        <div>
          <form>
            <!-- <h1 id="sign_in_title">Sign In</h1> -->
            <br>
            <input class="input-form" type="text" ng-model="userCtrl.email" placeholder="Email"/>
            <br>
            <input class="input-form" type="password" ng-model="userCtrl.password" placeholder="Password"/>
            <br>
            <button class="sign-in-button" ng-click="userCtrl.userLogin()">Sign in</button>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
