

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*#wrapper {
  width: 100%;
}*/

#title {
  background-color: #D1E0E0;
  text-align: center;
}

#tabs {
  width: 60%;
  margin: auto;
  border: solid;
  border-width: 2px;
  border-color: #D1E0E0;
}
#tabs li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
#tabs ul {
  background-color: #D1E0E0;
  margin: 0px;
  padding: 10px;
}
.active {
  background-color: #94B8B8;
}
button.checkpoint {
  height: 30px;
  width: 30px;
  border-radius : 100%;
  background-color: white;
}
#map {
  position:relative;
    width: 100%;
    height: 0;
    padding-top: 72%;
  background-image: url("map.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

/*#loc3 {
  position: absolute;
  top: 27%;
  left: 46%;
}
#loc4 {
  position: absolute;
  top: 68%;
  left: 67%;
}
#loc5 {
  position: absolute;
  top: 39%;
  left: 85%;
}*/
