<ion-view>

  <ion-content class="padding">

  <div id="container2">
    <div style=" float: left; font-size:small; display:inline">{{currentGame}}</div>
    <div style=" float: right; font-size:small; display:inline">Logged in as {{username}}</div>
  </div>

    <div ng-hide="nextCheckpoint">
      <button ng-click="startGamePopup()" class="button button-block button-balanced">
        Start New Game
      </button>
    </div>

    <div ng-show="nextCheckpoint"> <!-- The user is in a game -->

       <div id="container" style = "margin:30px; background-color:{{nextCheckpoint.color}}">
          <p style = "font-size: 200%; line-height: 150%; margin:10px; color:white">{{nextCheckpoint.clue}}</p>
      </div>

      <div style = "text-align:center; margin:20px">
        {{hotterColder}}
      </div>

      <table style="width:100%; table-layout: fixed;">
        <tr>
          <td style="text-align:center">Distance</td>
          <td style="text-align:center">Timer</td>
        </tr>
        <tr>
          <td style="text-align:center; color:{{nextCheckpoint.color}}" ng-show="humanDistanceToTarget">{{humanDistanceToTarget}} m away</td>
          <td style="text-align:center" id="timer" style="color:{{nextCheckpoint.color}}"></td>
        </tr>
      </table>

    </div>

    <div style = "margin:20px;">
      <span ng-repeat="checkpoint in userCheckpoints">
        <button class="checkpoint" id="checkpoint-{{checkpoint.id}}" style="background-color:{{checkpoint.color}};" ng-click="checkpointPopup(checkpoint)">
          {{$index + 1}}
        </button>
        <span ng-if = "$index<4">------</span>
      </span>
    </div>

    <div ng-show="gameComplete"> <!-- The user has finished a game -->
      <h5>Congratulations! You've found all the checkpoints!</h5>
    </div>

    <div>
      <button ng-hide="gameCtrl.runningCheckIn || gameCtrl.gameComplete" id="check-in" ng-click="gameCtrl.checkIn()" class="bar-assertive" style = "margin:20px">Update now</button>
    </div>



  </ion-content>
</ion-view>
