<ion-view>
  <ion-content class="padding">
    <div id="players">
      <ul>
        <div ng-repeat ="player in allPlayers">
          <li>
            <b>{{player.name}}:</b>
            <div class = "button_wrapper">
              <span ng-repeat="checkpoint in player.checkpoints">
                <button class="checkpoint" style="background-color:{{checkpoint.color}};">
                  {{$index + 1}}
                </button>
              </span>
            </div>
          </li>
          <br>
        </div>
      </ul>
    </div>
  </ion-content>
</ion-view>
