<ion-view>

  <ion-content class="padding">
  <p>A fantastic electronic version of "Hotter, Colder" or "Hunt The Thimble", you must find a number of locations based only some cryptic clues and a display showing how far away from them you are, and whether you are <i>"Getting warmer..."</i> or <i>"Getting colder..."</i>. <b>Simply sign up, log in, start a game and carry your device with you as you search for each location in turn.</b></p>
  <p>Whether it's a pub crawl or geocaching, the only question is are you up to the challenge??</p>
  <p>(Tip: Make sure you allow this app to access your location.)</p>
  <p><b>Good luck and have fun!</b><br>The Hot, Hot, Cold team</p>
  </ion-content>

</ion-view>