<ion-view>

  <ion-header-bar class="bar-stable">
    <h1 class="title">Rules</h1>
  </ion-header-bar>

  <ion-content class="padding">
  <p>A fantastic electronic version of "Hotter, Colder" or "Hunt The Thimble", you must find a number of locations based only on a highly stylised map and some cryptic clues... <b>are you up to the challenge??</b></p>
  <p>Click <i>Start New Game</i> to get started and follow each clue to the location, giuded by the colour of the relevant checkpoint on the map.</p>
  <p>Click <i>Check In</i> to test how close you are to each checkpoint and to update the colour guiding you!</p>
  <p><b>Good luck and have fun!</b><br>The Hot, Hot, Cold team</p>
  </ion-content>

</ion-view>