<ion-view>
  <ion-content class="padding">

    <p style="text-align: right;">Logged in as {{username}}</p>

    <div ng-hide="nextCheckpoint">
      <button ng-click="startGamePopup()" class="button button-block button-balanced">
        Start New Game
      </button>
    </div>


    <div ng-show="nextCheckpoint"> <!-- The user is in a game -->

      <div>
        {{nextCheckpoint.clue}}
      </div>

    <div>
    <br><br><br>
    {{hotterColder}}
    </div>

    <div>
    {{humanDistanceToTarget}} m away
    </div>


      <div ng-show="nextCheckpoint">
         <button ng-click="quitGame()" class="bar-assertive">
           Quit Game
         </button>
       </div>



    </div>

    <div>
      <span ng-repeat="checkpoint in userCheckpoints">
        <button class="checkpoint" id="checkpoint-{{checkpoint.id}}" style="background-color:{{checkpoint.color}};">
          {{$index + 1}}
        </button>
      </span>
    </div>

    <div ng-show="gameComplete"> <!-- The user has finished a game -->
      <h5>Congratulations! You've found all the checkpoints!</h5>
    </div>


  </ion-content>
</ion-view>
