<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Game Tab -->
  <ion-tab title="Game" icon-off="ion-ios-navigate-outline" icon-on="ion-ios-navigate" href="#/game">
    <ion-nav-view name="tab-game"></ion-nav-view>
  </ion-tab>

  <!-- Players Tab -->
  <ion-tab title="Players" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/players">
    <ion-nav-view name="tab-players"></ion-nav-view>
  </ion-tab>

  <!-- Rules Tab -->
  <ion-tab title="Rules" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/rules">
    <ion-nav-view name="tab-rules"></ion-nav-view>
  </ion-tab>


</ion-tabs>